{{/* Кастомная версия тегов с правильным wrap */}}
{{ if .Params.tags }}
<div class="max-w-prose print:hidden">1
  <div class="flex flex-wrap justify-center gap-2">
    {{ range .Params.tags }}
      <a class="no-underline bg-primary-100 hover:bg-primary-300 text-primary-800 text-xs font-medium px-2.5 py-0.5 lg:px-5 lg:py-2 rounded dark:bg-primary-900 dark:hover:bg-primary-700 dark:text-primary-300 break-words max-w-full" 
         href="{{ "/tag/" | relURL }}{{ . | urlize }}/">
        {{ . }}
      </a>
    {{ end }}
  </div>
</div>
{{ end }}
